{% extends 'blog_content/base.html' %}
{% load static %}

{% block Title_Block %}Home{% endblock %}
{% load static %}
{% block Body_Block %}

<div class="col-md-6 col-md-offset-3">
    <h1 class="main_h1">
        Welcome
    </h1><br><br>
    <div class="main_h1"><img  src="media/images/pengy.png"></div><br>
    <h3 class="main_h1">
        This is a Blog sites with the latest Linux and Scripting news and tutorials available for the avid admin
    </h3><br><br><br>


    <div class="img_center">
        <div class="img_container ">
            <a href="{% url 'blog_content:list_linux' %}"><img class="image_link" src="/media/images/linux.png"></a>
            <a href="{% url 'blog_content:list_bash' %}"><img class="image_link"  src="/media/images/bash.png"></a>
            <a href="{% url 'blog_content:list_python' %}"><img class="image_link"  src="/media/images/python.png"></a>
            <a href="{% url 'blog_content:list_perl' %}"><img class="image_link"  src="/media/images/perl.png"></a>
        </div>
    </div>


</div>
{% endblock %}